<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dk.itu.energyfutures.ble"
    android:versionCode="6"
    android:versionName="2.1" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".Application"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="BLEoT"
        android:logo="@drawable/ic_launcher"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity android:name=".activities.LocationListActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LocationActivity"
            android:parentActivityName=".activities.LocationListActivity" />
        <activity
            android:name=".activities.MoteListActivity"
            android:parentActivityName=".activities.LocationListActivity" />
        <activity
            android:name=".activities.DeviceConfigActivity"
            android:parentActivityName=".activities.MoteListActivity" />

        <service
            android:name=".BluetoothLEBackgroundService"
            android:enabled="true"
            android:exported="false"
            android:singleUser="true" />

        <activity
            android:name="dk.itu.energyfutures.ble.activities.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>